h1{
    text-align: right;
    font-size: 20px;
    font-weight: 50;
}
h2{font-size: 20px;
    font-weight: 50;

}
h3{
    font-size: 30px;
    font-weight: 50px;
}
center{
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 30px;
    
}
p{
    text-transform: none ;
    font-size: 2opx;
    
    
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .list{
    padding: 10px;
    display: inline-flex; 
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }