h1{
    text-align: right;
    font-size: 30px;
    font-weight: 50;
}
h2{font-size: 30px;
    font-weight: 50;

}
h3{
    font-size: 30px;
    font-weight: 50
    ;
}
center{
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 60px;
    
}
p{
    text-transform: capitalize;
    font-size: 30px;
    
}